
*{
  margin: 0;
  padding:0;
}


.nav {
  background-color: rgba(0,0,2,0.9);
  position: fixed;
  float: right;
/*  position: absolute; */
  height: 30px;
  
    top: 0%;
    left: 0%;

    /*transform: translate(-50%, -50%);*/
    padding: 100px;
   margin-top: 600px;
   margin-bottom: 40px;
   margin-left: 20px;


}




.hi{
    top: 20px;
  font-size: 1vh;
  font-size: 1.5vw;
  color:black;
  margin-right: 1%;
  text-decoration: none;
    margin bottom: 10px;
  padding-bottom: 0.3%;
  margin-top: 20%;
font-family: 'Karla', sans-serif;




}
#welcome{
  margin-left: 350px;
  

}





/*second nav*/

#top{
  background: black;
  width:100%;
  /*padding: 10px 0px;
  margin-top: 30px;*/
  

}

#top .offer{
  color: #ffffff;
}

#top .offer .btn{
       
       text-transform: uppercase;
   }
  @media(max-width:991px){
    #top .offer{
      margin-bottom: 50px;
    }
  }

  @media(max-width: 991px){

    #top{
      font-size: 13px;
      text-align: center;
    }
  }


#top a{
  color: #ffffff;
}
#top ul.menu{
  
  margin: 0px;
  text-align:left;
  font-size: 10px;
  list-style:none;
  display: block;
}
    
 @media(max-width:991px){
  #top ul.menu{
    text-align: center;
  }
 }
 #top ul.menu > li{
  display: inline-block;
 }

  #top ul.menu > li a{
    color: #eeeeee;
  }

 #top ul.menu>li +li:before{
  content: "|\00a0";
  color: #f7f7f7;
  padding: 0 1px;

 }
.offer{
  margin-bottom:20px;

  
}
.col-md-6 offer{
  float: right;
}


.menu{
  margin-top:0;
  padding-top: 0;
  
}
#top{

  height:40px;
}


/*second nav*/

/*form*/
 body {
  font family: 'Raleway', sans-serif;
  font weight: 400;
    color: #fff;
    letter-spacing :1px;
}

.container {
  background-color: #fafafa;
  margin:40px;
  box-shadow: rgba(0,0,0,.1);
  display: grid;
  grid-template-columns: 40% 60%;

}

.container-form{
  background-color: rgba(0,0,)
  padding:50px 0;
  margin: 0 auto;
  color:#000;

}

form { 
  display:grid;
  grid-row-gap: 10px;
}

form p{
  font-weight: 600;

}






